.footer2 {
    background-color: #485063;
    font-family: 'Poppins', sans-serif;
    color: #F0EFEF;
    
}

.footer-content-wrapper2 {
    padding: 260px 300px;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}